.list-services {
  padding: 0;
  list-style-type: none;
}
.list-service-item:not(:last-child) {
  margin-bottom: 3px;
}
.list-service-item {
  position: relative;
  padding-left: 2px;
  display: flex;
  align-items: center;
}
.btn-chevron-footer {
  width: 7px;
}

.xloo-block-secondary-top {
  margin-top: 96px;
}
.case-block {
  display: flex;
  align-items: center;
  height: 100%;
}
.case-container {
  padding: 60px 0;
}
.case-block-text .case-text {
  margin: 20px 0 22px;
}
.case-block-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.case-block-text {
  width: 50%;
  padding: 0 20px;
  height: 100%;
}
.img-case {
  display: block;
  max-width: 100%;
}
.img-wxchat {
  margin-bottom: -42px;
}
.case-block-img img{
  display: none;
}
.case-block-img .img-case-xl {
  display: block;
}
.container-case-platforms {
  display: flex;
  margin-bottom: 25px;
}
.case-platform-item {
  align-items: center;
  justify-content: center;
  color: #212529;
  font-weight: 600;
  margin-bottom: 10px;
}
.ico-apple {
  margin-top: -6px;
}
.container-dark .case-platform-item {
  color: #ffffff;
}
.container-case-platforms p:not(:last-child) {
  margin-right: 25px;
}
.case-platform-item img {
  margin-right: 4px;
}
.case-name {
  color: #93CB40;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.tm-ico {
  position: relative;
  display: inline;
}
.tm-ico:before {
  content: 'TM';
  position: absolute;
  right: -20px;
  top: 3px;
  font-size: 12px;
}
/*media*/
@media (max-width: 1600px) {
  .case-block-img .img-case-xl {
    display: none;
  }
  .case-block-img .img-case-lg {
    display: block;
  }
}
@media (max-width: 1200px) {
  
}
@media (max-width: 990px) {
  .case-block {
    flex-wrap: wrap;
  }
  .case-block-text, .case-block-img {
    width: 100%;
  }
  .case-block-img {
    margin-bottom: 30px;
  }
  .case-block-text {
    order: 2;
  }
}
@media (max-width: 768px) {
  .container-case-platforms {
    flex-wrap: wrap;
  }
}
